footer {
  padding: 10px 10px 0 30px;
  background-color: #858026;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 300px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

/*banner */
/* Height control */
.banner {
  margin-top: 100px;
  margin-bottom: 10px;
  /*overflow: hidden;*/
  background-color: #0275d8; }

.banner__container,
.banner__row {
  min-height: 100%; }

/* --- paragraphs --- */
.paragraphs__subtitle {
  font-size: 'Open Sans';
  color: #ffffff;
  font-size: 30px; }

.banner__paragraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }

.paragraphs__title,
.paragraphs__subtitle {
  text-align: center; }

/* --- media ---*/
.banner__media {
  min-height: 120px;
  margin-bottom: 10px;
  width: 100%; }

.banner__images {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }

@media (min-width: 700px) {
  .images__capture {
    left: 20vw; } }

@media (min-width: 800px) {
  .images__capture {
    left: 30vw; } }

@media (min-width: 992px) {
  .banner {
    margin-top: 60px;
    max-height: calc(100vh - 60px); }
  .banner__paragraphs,
  .banner__media {
    margin-bottom: 10px;
    max-height: calc(100vh - 60px); }
  .paragraphs__title,
  .paragraphs__subtitle {
    text-align: left; }
  .banner__paragraphs {
    align-items: flex-start; } }

@media (min-width: 1600px) {
  .paragraphs__title,
  .paragraphs__subtitle {
    margin: 0;
    padding: 0; } }

#banner1 {
  margin-top: 1; }

/*banner*/
