<section class="banner">
  <div class="container-fluid banner__container" >
      <div class="row banner__row">
          <div class="col-12 col-lg-6 banner__paragraphs">
              <div class="paragraphs__container">
                  <h1 class="m-4 hero-heading paragraphs__title m-0">Los mejores hoteles </h1>
                  <h2 class="m-4 paragraphs__subtitle">Los mejores precios</h2>
              </div>
              <a type="button" class="ml-4 paragraphs__button shadow btn btn-secondary" href="./precios.html">Precios</a>
          </div>
          <div class="col-12 col-lg-6 banner__media">
              <div class="banner__images">
                <img id="banner1" src="./images/banner1.jpg" class="img-fluid" alt="Responsive image">
              </div>
          </div>
      </div>
  </div>
</section>
