<footer>
    <div class="row">
          <div class="col-sm-4 d-flex flex-column">
            <a href="http://www.facebook.com">Facebook</a>
            <a href="http://www.twitter.com">Twitter</a>
            <a href="http://www.instagram.com">Instagram</a>
            <a href="http://www.google.com">Google+</a>
          </div>
          <div class="col-sm-4 d-flex flex-column">
            <address>
              <h4>Oficina Central</h4>
              <p><span class="oi oi-phone footer-adress-icon"></span>Medellin +574 598 76 80</p>
              <p><span class="oi oi-inbox footer-adress-icon"></span>info@masholetes.com.co</p>
              <p><span class="oi oi-home footer-adress-icon"></span>cra 81 #50-69 espreso</p>
            </address>
          </div>
          <div class="col-sm-4 d-flex flex-column align-items-end">
            <a href="http://www.facebook.com">Nosotos</a>
            <a href="http://www.twitter.com">Precios</a>
            <a href="http://www.instagram.com">Terminos y condiciones</a>
          </div>
    </div>
</footer>